@(localUser: models.User,
  tweetForm: Form[Tweet],
  prevYear: Integer,
  prevMonth: Integer,
  year:  Integer,
  month: Integer,
  nextYear:  Integer,
  nextMonth: Integer,
  cal: List[List[String]]
)

@import helper._
@import helper.twitterBootstrap._

@main("Digital Clock", "calendar") {
<div class="row">
  <div class="offset1 span10">
    <h1 id="calendar-title">Calendar</h1>

    <div class="row">
      <div id="calendar-table" class="offset1 span9">
        <div id="calendar-head" class="row">
          <div class="span2">
            <h2 id="calendar-head-previous-month">
              <a href="@routes.MyCalendar.calendar(prevYear, prevMonth)">
                @prevYear/@prevMonth
              </a>
            </h2>
          </div>
          <div class="offset1 span4">
            <h1 id="calendar-head-month">
              @year/@month
            </h1>
          </div>
          <div class="span2">
            <h2 id="calendar-head-next-month">
              <a href="@routes.MyCalendar.calendar(nextYear, nextMonth)">
                @nextYear/@nextMonth
              </a>
            </h2>
          </div>
        </div>
        <div id="calendar-body" class="row">
          <table class="calendar table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <th class="sunday">Sun.</th>
                <th class="weekday">Mon.</th>
                <th class="weekday">Tue.</th>
                <th class="weekday">Wed.</th>
                <th class="weekday">Thu.</th>
                <th class="weekday">Fri.</th>
                <th class="saturday">Sat.</th>
              </tr>
            </thead>
            @*
            @if(models.Tweet.findByDate(localUser, year, month, 4) != null) {
              <h1>@models.Tweet.findByDate(localUser, year, month, 4).content</h1>
            }
            *@
            <tbody>
              @for(week <- cal) {
                <tr>
                  <td class="sunday">@week.apply(0)</td>
                  @for(day <- week.subList(1, 6)) {
                    @if(day != "" && models.Tweet.findByDate(localUser, year, month, Integer.parseInt(day)) != null) {
                   <td><a href="#" data-toggle="tooltip" title="@models.Tweet.findByDate(localUser, year, month, Integer.parseInt(day)).content">@day</a>
                    } else {
                   <td>@day</td>
                   }
                  }
                <td class="saturday">@week.apply(6)</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div><!-- #calendar-table -->
    </div>
    <div id="tweet_form" class="row">
      <div class="offset1 span9">
        <form class="form-inline" action="/tweet" method="POST" >
          <fieldset>
            <input type="date" name="created" value="" class="span2"/>
            <input type="text" name="content" placeholder="Tweet..." value="" class="span6"/>
            <button type="submit" class="btn">Tweet</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="@routes.Assets.at("js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/calendar.js")" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $("form").validate({
      rules: {
        content :{
          required: true
        }
      },
      messages: {
        content :{
          required: "please input"
        }
      }
    });
  });
</script>
}
