@(localUser: models.User = null,
  prevYear: Integer,
  prevMonth: Integer,
  year:  Integer,
  month: Integer,
  nextYear:  Integer,
  nextMonth: Integer,
  cal: List[List[String]]
)

@import helper._
@import helper.twitterBootstrap._
@import com.feth.play.module.pa.views.html._

@main("Digital Clock", "calendar") {
<div class="row">
  <div class="offset1 span10">
    <h1 id="calendar-title">Calendar</h1>
    <div class="row">
      <div id="calendar-table" class="offset1 span9">
        <div id="calendar-head" class="row">
          <div class="span2">
            <h2 id="calendar-head-previous-month">
              <a href="@routes.MyCalendar.calendar(prevYear, prevMonth)">
                @prevYear/@prevMonth
              </a>
            </h2>
          </div>
          <div class="offset1 span4">
            <h1 id="calendar-head-month">
              @year/@month
            </h1>
          </div>
          <div class="span2">
            <h2 id="calendar-head-next-month">
              <a href="@routes.MyCalendar.calendar(nextYear, nextMonth)">
                @nextYear/@nextMonth
              </a>
            </h2>
          </div>
        </div>
        <div id="calendar-body" class="row">
          <table class="calendar table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <th class="sunday">Sun.</th>
                <th class="weekday">Mon.</th>
                <th class="weekday">Tue.</th>
                <th class="weekday">Wed.</th>
                <th class="weekday">Thu.</th>
                <th class="weekday">Fri.</th>
                <th class="saturday">Sat.</th>
              </tr>
            </thead>
            <tbody>
              @for(week <- cal) {
                <tr>
                  <td class="sunday">@week.apply(0)</td>
                  @for(day <- week.subList(1, 6)) {
                    <td>@day</td>
                  }
                <td class="saturday">@week.apply(6)</td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div><!-- #calendar-table -->
    </div>
    <div id="tweet_form" class="row">
      <div class="offset4 span7">
        <form action="/tweet" method="POST" class="form-inline">
          <select id="tweet-year" name="tweet-year" class="span1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <select id="tweet-month" name="tweet-month" class="span1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <select id="tweet-day" name="tweet-day" class="span1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <input type="text" class="span4" name="tweet" placeholder="Tweet...">
          <button type="submit" class="btn">Tweet</button>
        </form>
      </div>
    </div>
  </div>
</div>
}
