@(dateTime: String, clockSettingForm: Form[ClockSetting], userTimezone: String)

@import helper._
@import helper.twitterBootstrap._

@main("Digital Clock", "clock") {
<div class="row">
  @if(flash.contains(Clock.FLASH_ERROR_KEY)) {
    <div class="alert alert-error fade in">
      <button class="close" data-dismiss="alert" type="button">x</button>
      @flash().get(Clock.FLASH_ERROR_KEY)
    </div>
  }
  <div class="offset2 span10">
    <h1 id="dateTime">@dateTime</h1>
  </div>
</div>

<div id="clock-setting" class="row">
  <div class="offset6 span14">
    <form method="POST" action="@routes.Clock.saveClockSetting">
      <fieldset>
        <legend>Clock Setting</legend>
        <div id="timezone_field" class="clearfix ">
          <label for="timezone">Timezone</label>
          <div class="input">
            <select id="timezone" name="timezone">
              @for(timezone <- TimeZones.list()) {
                @if(timezone == userTimezone) {
                  <option value=@timezone selected>@timezone</option>
                } else {
                  <option value=@timezone>@timezone</option>
                }
              }
            </select>
            <span class="help-inline"></span>
            <span class="help-block"></span>
          </div>
        </div>
      </fieldset>
      <div class="actions">
        <input type="submit" class="btn btn-success" value="Save Setting">
      </div>
    </form>
  </div>
</div>
<script src="@routes.Assets.at("js/clock.js")" type="text/javascript"></script>
}
